/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color:#000028;
  --big-h-color:#DB00FF;
  --med-h-color:#FF0070;
  --background-text-color:#FF0070;
  --main-text-color:#000028;
  --paragraph_text-color:#F1B2CE;
  --decoration-color:#FF0070;
  --button-hover-color:#FF007066;

  .rec {
    display:inline-block;
  }
  

 }

/* :root.theme-dark {
  
      .page {
        background-image: var(--bg-image);
        background-color: var(--bg-color);
      }

      .header_title {
        color: var(--big-h-theme-color);
        text-shadow: 4px 4px 0 var(--background-text-theme-color);
      }

      .header_description {
        background-color: var(--background-text-theme-color);
      }

      .header_paragraph {
        color: var(--bg-color);
      }

      .rec {
        display:block;
      }

      .decoration_right::before {
        border-top:1px solid var(--background-text-theme-color);
        border-right:1px solid var(--background-text-theme-color);
      }

      .decoration_left::before {
        border-bottom:1px solid var(--background-text-theme-color);
        border-left:1px solid var(--background-text-theme-color);
      }

      .header__theme-menu-item {
        color: var(--background-text-theme-color);
      }

      .card_title {
        color: var(--background-text-theme-color);
      }

      .paragraph_title {
        color: var(--bg-color);
        background-color: var(--background-text-theme-color);
      }

      .card_text {
        color: var(--paragraph-text-color);
      }

      .word_link {
        color: var(--paragraph_text-color);
        text-decoration:none;
        text-shadow:4px 4px 0.25px var(--background-text-theme-color);
      }

      .word_link:hover {
        border-bottom:1px solid var(--paragraph_text-color);
      }

      .word_link:focus-visible {
        border:none;
        outline:1px solid var(--paragraph_text-color);
      }

      .header__theme-menu-button:hover {
        outline:1px solid var(--background-text-theme-color, 0.4);
      }

      .header__theme-menu-button:focus-visible {
        border-bottom:1px solid var(--background-text-theme-color);
        outline:none;
      }

      .header__theme-menu-button_active {
        outline:1px solid var(--background-text-theme-color);
        pointer-events:none;
      }

      .card_title_special {
        color: var(--bg-color);
        background-color: var(--background-text-theme-color);
      }

      .paragraph_title_special {
        color: var(--bg-color);
        background-color: var(--background-text-theme-color);
      }

      .gallery_title {
        color: var(--bg-color);
        background-color: var(--background-text-theme-color);
      }

      .footer_title {
        color: var(--big-h-theme-color);
      }
}
       */