/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-light.png');
  --bg-color:#FFF1F7;
  --big-h-color:#FFC2E6;
  --med-h-color:#353430;
  --background-text-color:#FF8DCB;
  --paragraph_text-color:#353430;
  --main-text-color:#353430;
  --decoration-color:#353430;
  --button-hover-color:#32312D66;

  .rec {
  display:none;
  }

}


@media (prefers-color-scheme: light) {
  
    :root {
     --bg-image: url('../images/cover-image-light.png');
     --bg-color:#FFF1F7;
     --big-h-color:#FFC2E6;
     --med-h-color:#353430;
     --background-text-color:#FF8DCB;
     --paragraph_text-color:#353430;
     --main-text-color:#353430;
     --decoration-color:#353430;
     --button-hover-color:#32312D66;
    

     .rec {
    display:none;
     }
  }

    }