/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image-light: url('../images/cover-image-light.png');
  --bg-color-light:#FFF1F7;
  --pink-color-light:#FFC2E6;
  --violet-color-light:#FF8DCB;
  --grey-color-light:#353430;



  .page {
        background-color: var(--bg-color-light);
      }

      .header {
      background-image:url(../images/cover-image-light.png);

      }

      .header_title {
        color: var(--pink-color-light);
      }

      .header_description {
        background-color: var(--violet-color-light);
      }

      .header_paragraph {
        color: var(--grey-color-light);
      }

      .rec {
        display:none;
      }

      .decoration_right::before {
        border-top:1px solid var(--grey-color-light);
        border-right:1px solid var(--grey-color-light);
      }

      .decoration_left::before {
        border-bottom:1px solid var(--grey-color-light);
        border-left:1px solid var(--grey-color-light);
      }

      .header__theme-menu-item {
        color: var(--grey-color-light);
      }

      .card_title {
        color: var(--grey-color-light);
      }

      .paragraph_title {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .card_text {
        color: var(--grey-color-light);
      }

      .word_link {
        color: var(--grey-color-light);
        text-decoration:none;
        text-shadow:0px 4px 0.4px var(--pinki);
      }

      .word_link:hover {
        border-bottom:1px solid var(--grey-color-light);
      }

      .word_link:focus-visible {
        border:none;
        outline:1px solid var(--grey-color-light);
      }

      .header__theme-menu-button:hover {
        outline:1px solid rgb(53, 52, 48, 0.4);
      }

      .header__theme-menu-button:focus-visible {
        border-bottom:1px solid var(--grey-color-light);
        outline:none;
      }

      .header__theme-menu-button_active {
        outline:1px solid var(--grey-color-light);
        font-weight: var(--bold);
        pointer-events:none;
      }

      .card_title_special {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .paragraph_title_special {
        background-color: var(--violet-color-light);
      }

      .gallery_title {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .footer_title {
        color: var(--pink-color-light);
      }

    }


@media (prefers-color-scheme: light) {
  
    :root {

      .page {
        background-color: var(--bg-color-light);
      }

      .header {
      background-image:url(../images/cover-image-light.png);
      }

      .header_title {
        color: var(--pink-color-light);
      }

      .header_description {
        background-color: var(--violet-color-light);
      }

      .header_paragraph {
        color: var(--grey-color-light);
      }

      .rec {
        display:none;
      }

      .decoration_right::before {
        border-top:1px solid var(--grey-color-light);
        border-right:1px solid var(--grey-color-light);
      }

      .decoration_left::before {
        border-bottom:1px solid var(--grey-color-light);
        border-left:1px solid var(--grey-color-light);
      }

      .header__theme-menu-item {
        color: var(--grey-color-light);
      }

      .card_title {
        color: var(--grey-color-light);
      }

      .paragraph_title {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .card_text {
        color: var(--grey-color-light);
      }

      .word_link {
        color: var(--grey-color-light);
        text-decoration:none;
        text-shadow:0px 4px 0.4px var(--pinki);
      }

      .word_link:hover {
        border-bottom:1px solid var(--grey-color-light);
      }

      .word_link:focus-visible {
        border:none;
        outline:1px solid var(--grey-color-light);
      }

      .header__theme-menu-button:hover {
        outline:1px solid rgb(53, 52, 48, 0.4);
      }

      .header__theme-menu-button:focus-visible {
        border-bottom:1px solid var(--grey-color-light);
        outline:none;
      }

      .header__theme-menu-button_active {
        outline:1px solid var(--grey-color-light);
        font-weight: var(--bold);
        pointer-events:none;
      }

      .card_title_special {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .paragraph_title_special {
        background-color: var(--violet-color-light);
      }

      .gallery_title {
        color: var(--grey-color-light);
        background-color: var(--violet-color-light);
      }

      .footer_title {
        color: var(--pink-color-light);
      }

    }
    
}