/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
   font-family: var(--font-family, sans-serif);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
   background-color: var(--main-text-color);
   background-image: var(--bg-image);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
  
}

.header {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr min-content 1fr;
  height: 100vh;
  min-height:668px;
  padding:0 10px 0 10px;
}

.header__theme-menu-list {
  display:grid;
  gap:10px;
}

.header__theme-menu-item {
  max-width:70px;
  border:none;
  color: var(--decoration-color);
}

.header__theme-menu-button {
  display:grid;
  align-items:flex-start;
  width:100%;
  height:100%;
  border:none;
  font-size: var(--text-size);
  text-transform:lowercase;
  background-color:transparent;
  cursor:pointer;
}

.header__theme-menu {
  display:grid;
  justify-self:right;
  align-self:center;
  width:70px;
}

.header_title {
  display:grid;
  align-self:center;
  color: var(--big-h-color);
  font-weight: var(--font-weight-bold);
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height:0.825;
  text-shadow: 4px 4px 0 var(--background-text-color);
}

.header_description {
  display:grid;
  align-self:center;
  margin-block-end:10px;
  background-color: var(--background-text-color);
}

.header_paragraph {
  color: var(--main-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
}

.rec {
  position:absolute;
  top:10px;
  right:20px;
  display:inline-block;
  justify-self:right;
  color: var(--background-text-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size);
}

.rec::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left:10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decoration-color);
  background-color: var(--decoration-color);
}

.decoration-corner {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.decoration-corner::before,
.decoration-corner::after {
  content: "";
  position: absolute;
  box-sizing:border-box;
  inline-size:25.04px;
  block-size: 25px;
}

.decoration-corner::before {
  border-inline-end:1px solid var(--decoration-color);
  border-block-start:1px solid var(--decoration-color);
  inset-block-start:10px;
  inset-inline-end:10px;
}

.decoration-corner::after {
  border-inline-start:1px solid var(--decoration-color);
  border-block-end:1px solid var(--decoration-color);
  inset-block-end:10px;
  inset-inline-start:10px;
}

.main {
  display:grid;
  gap:50px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:10px;
  padding-left:10px;
}

.concentrate_hard {
  display:grid;
  gap:20px;
}

.concentrate {
  display:grid;
  justify-content:center;
  gap:20px;
}

.concentrate_gold_fish {
  display:grid;
  gap:20px;
}

.article_wrapper {
  display:flex;
  flex-direction:column;
  gap:20px;
}

.article_wrapper_center {
  display:flex;
  flex-direction:column;
  gap:20px;
}

.article_wrapper_bottom {
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card_info {
  display:flex;
  flex-direction:column;
  gap:10px;
}

.card_title {
  color: var(--med-h-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
}

.paragraph_title {
  color: var(--main-text-color);
  font-weight: var(--font-weight-bold);
  font-size : var(--text-size);
  background-color: var(--background-text-color);
}

.card_text {
  color: var(--paragraph_text-color);
  font-weight: var(--font-weight-regular);
  font-size : var(--text-size);
}

.word_link {
  color: var(--paragraph-text-color);
  text-decoration:none;
  text-shadow:3px 2px 0 var(--background-text-color);
}

.word_link:hover {
  border-bottom:1px solid currentColor;
}

.word_link:focus-visible {
  border:none;
  outline:1px solid currentColor;
}

.card_title_special {
  color : var(--main-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
  background-color: var(--background-text-color);
}

.paragraph_title_special {
  color : var(--main-text-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size);
  background-color: var(--background-text-color);
}

.card_gallery {
  display:grid;
  gap:10px;
}

.gallery_title {
  color : var(--main-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
  background-color: var(--background-text-color);
}

.gallery {
  display:flex;
  flex-direction:column;
  gap:10px;
}

.gallery img {
  inline-size:100%;
  block-size:100%;
}

.footer {
  position:relative;
  display:grid;
  height:100vh;
  min-height:668px;
  padding-right:10px;
  padding-left:10px;
}

.footer_title {
  display:grid;
  justify-content:center;
  align-items:center;
  align-self:center;
  margin-left:5px;
  margin-block-end:5px;
  color: var(--big-h-color);
  font-weight: var(--font-weight-bold);
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow:2px 2px 0px var(--background-text-color);
}

.header__theme-menu-button:hover {
  outline:1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom:1px solid var(--background-text-color);
  outline:none;
}

.header__theme-menu-button_active {
  outline:1px solid var(--decoration-color);
  pointer-events:none;
}

@media (min-width:768px) {

      .header {
        padding-right:20px;
        padding-bottom:20px;
        padding-left:0;
      }

      .rec {
        top:20px;
        right:30px;
      }
      
      .header__theme-menu {
        margin-top:30px;
      }

      .header_title {
        margin-top:20px;
        font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      }
      
      .header_description {
        justify-self:right;
        width:100%;
        max-width:364px;
        margin-block-end:0;
      }

      .decoration-corner::before {
        inset-block-start:20px;
        inset-inline-end:20px;
      }

      .main {
        padding-top:60px;
        padding-right:20px;
        padding-bottom:20px;
        
      }

      .decoration-corner::after {
        inset-block-end:20px;
        inset-inline-start:20px;
      }


      .content-section {
        display:grid;
      }

      .article_wrapper {
        display: grid;
        margin-left:30px;
        inline-size:472px;
      }

      .article_wrapper_center {
        padding-bottom:10px;
        padding-left:10px;
        inline-size:738px;
      }

      .card_title {
        grid-column:1;
        width:100%;
        max-width:236px;
        padding-left:6px;
      }

      .paragraph_title_special {
        margin-top:0;
      }

      .concentrate {
        padding-top:30px;
      }

      .concentrate_hard {
        grid-template-columns: repeat(2, 1fr);
      }

      .concentrate_gold_fish {
        grid-template-columns:1fr 1fr;
        padding-top:20px;
      }

      .article_wrapper_bottom {
        inline-size:472px;
      }

      .card_gallery {
        padding-top:30px;
        padding-left:10px;
        gap:20px;
      }

      .gallery {
        display:grid;
        grid-template-columns:31.45% 31.59% 31.45%;
        grid-template-rows:24.61% 29.48% 40.76%;
        gap:20px;
        padding-top:0;
        /* height:780px; */
      }

      .sunset_img {
        grid-column:1 / 3;
        grid-row:1 / 2;
      }

      .ice-cream_img {
        grid-column:3 / 4;
        grid-row:1 / 3;
        object-fit:cover;
      }

      .tape_img {
        grid-column:1 / 2;
        grid-row:2 /4;
        object-fit:cover;
      }

      .books_img {
        grid-column:2 / 3;
        grid-row:2 / 3;
      }

      .street_img {
        grid-column:2 / 4;
        grid-row:3 / 4;
      }

      .footer {
        margin-top:40px;
      }

      .footer_title {
        margin-bottom:0;
        margin-left:0;
        font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      }

}

@media (min-width:1024px) {

      .header__theme-menu {
        justify-self:center;
        align-self:flex-start;
        width:230px;
        margin-left:20px;
        margin-top:20px;
      }

      .header__theme-menu-list {
        grid-auto-flow:column;
        gap:10px;
      }

      .header_description {
        max-width:491px;
      }

      .decoration-corner::before {
        inset-block-start:20px;
        inset-inline-end:20px;
      }

      .concentrate_hard {
        padding-top:0;
      }

      .card_title {
        max-width:315px;
      }

      .article_wrapper {
        margin-left:0;
        inline-size:645px;
      }

      .article_wrapper_center {
        display:grid;
        grid-template-columns:repeat(3, 315px);
        grid-template-rows:auto;
        gap:20px;
        inline-size:984px;
      }

      .article_wrapper_bottom {
        inline-size:649px;
      }

      .card_gallery {
        padding-top:25px;
      }

      .gallery {
        grid-template-columns:32.01% 32.01% 31.91%;
        grid-template-rows:24.8% 30.05% 41.31%;
      }
      
      .footer_title {
        font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      }
      
}