/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-size:18px;
  --font-family:"IBM Plex Mono", sans-serif;
  --big-h-color:#DB00FF;
  --background-text-color:#FF0070;
  --font-weight-bold:700;
  --font-weight-regular:400;
  --main-text-color:#000028;
  --paragraph-text-color:#F1B2CE;
  --paragraph_text-theme-color:#353430;
}
